mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.img-preview {
  height: 5rem;
  margin: 1rem 0;

  img {
    height: 100%;
  }
}

#upload_widget {
  margin-right: 20px;
}

.btn-cancel {
  float: right;
}


