<mat-card-title>
  <h2 [routerLink]="'profile/'+post.creator._id">{{ post.creator.userName | titlecase }}</h2>
  <br>
  {{post.createdAt | timeAgo}}
</mat-card-title>
<div class="post-image" *ngIf="post.imgPath">
  <img mat-card-image [src]="post.imgPath" alt="img" />
</div>
<div>{{ post.content }}</div>
<div class="likes-container">
  <h2>{{post.userLikeIds.length}} Likes</h2>
  <button (click)="likePost.emit(post.id)">Like</button>
</div>
<mat-action-row *ngIf="userIsAuthenticated && userId === post.creator._id">
  <a mat-button color="primary" (click)="editPost.emit()">
    EDIT
  </a>
  <button mat-button color="warn" (click)="onDelete.emit(post.id)">
    DELETE
  </button>
</mat-action-row>
