<mat-card-title> 
    <h2 [routerLink]="'profile/'+post.creator._id">{{ post.creator.userName | titlecase }}</h2>
  <br>
  {{post.createdAt | timeAgo}}
</mat-card-title>
<div class="post-image">
    <img mat-card-image [src]="post.imgPath" alt="img" />
</div>
<mat-action-row *ngIf="userIsAuthenticated && userId === post.creator._id">
    <a mat-button color="primary" [routerLink]="['/edit/', post.id]">EDIT</a>
    <button mat-button color="warn" (click)="onDelete(post.id)">
        DELETE
    </button>
</mat-action-row>
